In [ ]:
# https://leportella.com/english/2019/01/10/sqlalchemy-basics-tutorial.html?fbclid=IwAR15Ck3iit3b1kfd4iE3ZhNtEHbvs8mP7gHgAaguy0Ts9VNBD7AurRKn3zM
import sqlalchemy
import single_user_blitz_grabber
import os
import pandas as pd

## Parameters
APIKey = os.environ.get('League_API')
region = 'na1'
summoner_name = 'Duvet Cover'
flag_make_new_table = False

In [ ]:
# connects to mysql server table
engine = sqlalchemy.create_engine('mysql://root:Ironmaiden1!@localhost/duvet_cover_matches') # connect to server
engine.connect()

In [ ]:
# recreates an empty table
table_name = 'matches_tmp'
if flag_make_new_table:
    if engine.dialect.has_table(engine, table_name):
        
        with engine.connect() as connection:
            result = connection.execute(f"""DROP TABLE {table_name}""")
        
    with engine.connect() as connection:
        result = connection.execute(f"""CREATE TABLE {table_name} (acct_id VARCHAR(50), match_id BIGINT(10) PRIMARY KEY, match_rank VARCHAR(10), 
                                    role VARCHAR(20), champ VARCHAR(10), win FLOAT(2), kills FLOAT(3), deaths FLOAT(3),
                                    assists FLOAT(3), gold_earned FLOAT(20), player_top VARCHAR(20), player_jung VARCHAR(20),
                                    player_mid VARCHAR(20), player_ADC VARCHAR(20), player_supp VARCHAR(20), opp_top VARCHAR(20),
                                    opp_jung VARCHAR(20), opp_mid VARCHAR(20), opp_ADC VARCHAR(20), opp_supp VARCHAR(20))""")

In [ ]:
# grabs recent matches for the user
df = single_user_blitz_grabber.main_grab_data(region,summoner_name, APIKey)

In [ ]:
if flag_make_new_table:
    # send dataframe to sql table
    df.to_sql(con=engine, name=table_name, if_exists='append', index=False)
else:
    df.to_sql(name='temporary_table', con=engine, if_exists = 'replace', index=False)

    with engine.begin() as temp_to_target_table:
        insert_sql = f'INSERT IGNORE INTO {table_name} (SELECT * FROM temporary_table)'
        temp_to_target_table.execute(insert_sql)
        
    with engine.connect() as connection:
            result = connection.execute(f"""DROP TABLE temporary_table""")

## Data viz

In [ ]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import seaborn as sns # data visualization library  
import matplotlib.pyplot as plt

### Load and preprocess

In [ ]:
df = pd.read_sql('SELECT * FROM matches', con=engine)

In [ ]:
col = df.columns       # .columns gives columns names in data 
print(col)
df.head()

In [ ]:
def calc_kda(kills, assists, deaths):
    if deaths == 0:
        deaths = 1
    return (kills+assists)/deaths

In [ ]:
df['kda'] = calc_kda(df['kills'], df['assists'], df['deaths'])

In [ ]:
numerics = ['int16', 'int32', 'int64', 'float16', 'float32', 'float64']

df_numerical = df.select_dtypes(include=numerics).drop(columns=['index', 'match_id'])
df_numerical.head()

In [ ]:
df.describe()

### Basic viz

In [ ]:
# turn win/loss to boolean
y_bool = df['win']!= 0
x = df_numerical.drop(columns='win')

ax = sns.countplot(y_bool,label="Count")       # M = 212, B = 357
num_win, num_loss = y_bool.value_counts()
print('Number of win: ',B)
print('Number of loss : ',M)

In [ ]:
data_dia = y
data = x
data_n_2 = (data - data.mean()) / (data.std())              # standardization
data = pd.concat([y,data_n_2.iloc[:,0:5]],axis=1)
data = pd.melt(data,id_vars="win",
                    var_name="features",
                    value_name='value')
plt.figure(figsize=(7,7))
sns.violinplot(x="features", y="value", hue="win", data=data,split=True, inner="quart")
plt.xticks(rotation=45);

In [ ]:
sns.set(style="white")
df = x.loc[:,['gold_earned','kills','assists']]
g = sns.PairGrid(df, diag_sharey=False)
g.map_lower(sns.kdeplot, cmap="Blues_d")
g.map_upper(plt.scatter)
g.map_diag(sns.kdeplot, lw=3)